@import "./reset.css";

body {
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
  background-color: #000;
  color: #fff;
}

li {
  list-style: none;
}

h1 {
  padding-bottom: 2rem;
  font-size: 2.5rem;
}

.star-button {
  background-color: transparent;
}

.star-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.star {
  color: #515151;
  font-size: 5rem;
}

.fill-star {
  fill: #ffee00;
}
