@import "./reset.css";

body {
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
  background-color: #000;
  color: #fff;
}

.container {
  max-width: min(100% - 30px, 1240px);
  margin-inline: auto;
}

li {
  list-style: none;
}

h1 {
  padding-bottom: 2rem;
  font-size: 3rem;
}

h2 {
  padding-top: 1rem;
  height: 2rem;
  font-weight: 600;
}

.star-button {
  background-color: transparent;
}

.star-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.star {
  fill: #515151;
  font-size: 5rem;
}

.star {
  transition: all 0.2s ease-in-out;
}

.star:hover {
  transform: scale(1.15);
}

.fill-star {
  fill: #ffee00;
}

/* DIALOG */
.open-dialog {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: rgb(133, 13, 185);
  color: #fff;
  width: 20rem;
  padding: 1rem;
  border-radius: 99px;
  text-transform: uppercase;
  font-weight: 700;
}

.open-dialog,
.close-dialog {
  transition: all 0.3s ease-out;
}

.open-dialog:hover {
  background-color: rgb(89, 0, 126);
}

.close-dialog {
  position: absolute;
  top: -15px;
  right: -15px;
  margin-bottom: 2rem;
  margin-left: auto;
  background-color: #dc0d0d;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  font-weight: 900;
}

.close-dialog:hover {
  background-color: #ab0000;
}

.dialog-container {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.hide {
  display: none;
}

.dialog {
  position: relative;
  background-color: #fff;
  margin: 1rem 2rem;
  padding: 1rem;
  border-radius: 1rem;
  max-height: 60rem;
  max-width: 60rem;
  animation: show-dialog 0.3s ease-in-out;
}

img {
  border-radius: 1rem;
}

@keyframes show-dialog {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
